body {
  background-image: url(https://cdn.apartmenttherapy.info/image/fetch/f_auto,q_auto:eco/https%3A%2F%2Fstorage.googleapis.com%2Fgen-atmedia%2F3%2F2018%2F12%2F8cfbcbb2919742682345681d469b7417a73e4dfe.jpeg);
  background-size: cover;
  font-family: Arial;
  padding-top: 70px;
}
#content {
  background-color: #FFCEBD;
  margin: 3% 15% 5% 15%;
  padding: 3%;
}
#nav-bar {
  position: fixed;
  display: flex;
  background-color: #333;
  padding: 5px 5px 3px 10px;
  top: 0;
  left: 0;
  width: 100%;
}
.menu, .menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
}
a {
  padding: 10px;
}
#header-img {
  width: 50px;
  height: 50px;
}
h1, h2 {
  text-align: center;
  margin: 5% 0% 7% 0%;
}
#form-email {
  width: 100%;
  text-align: center;
}
@media (min-width: 600px) {}
